################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/OOP1Proj2021/v17/Browse.VC.db-shm
/.vs/OOP1Proj2021/v17/Browse.VC.opendb
/.vs/OOP1Proj2021/v17/Browse.VC.db-wal
